
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#"><h3>Flipr Hackathon </h3> </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">
                  <span class="sr-only">(current)</span>
                </a>
          </li>
          <li class="nav-item">
              <a href="/users/register" class="btn btn-primary btn-block mb-2" style="width: 100px;">Register </a>
            </li>
            <li class="nav-item">
                <a href="#" ></a>
              </li>
            <li class="nav-item">
            <a href="/users/login" class="btn btn-secondary btn-block" style="margin-right: 6px; width: 100px;">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center"  style="margin-top: 140px ;">
      <img src="https://www.google.com/images/icons/product/keep-512.png" style="width: 200px; margin:auto;">
      <p>Create an account or login</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2"
        >Register</a
      >
      <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
    </div>
  </div>
</div>
